body {
    margin: 0;
    padding: 0;
    background-image: url('../public/images/download.jpg'); /* Adjust the path as needed */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100vh; /* Full height */
    width: 100vw; /* Full width */
}
